$primary = #EF544F
$negro = #181818
$secondary = #393335
$ss = #4fef64
// *
//   border 1px solid red

// @import "movie.styl"
@import "simple-sidebar.styl"
body
  font-family: 'Anonymous Pro', monospace;
  background-color $negro
  color #fff
  h1, h2, h3, h4, .h4
    font-family: 'Poppins', sans-serif;
  &.modal-active
    position: fixed;
    overflow: hidden;
a
  color $primary

.bg-dark
  background-color $negro !important

.feather
  width: 16px
  height: 16px
  vertical-align: text-bottom

// Sidebar

.sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 100
  // Behind the navbar
  padding: 78px 0 0
  // Height of navbar
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1)

.sidebar-sticky
  position: relative
  top: 0
  height: calc(100vh - 48px)
  padding-top: .5rem
  overflow-x: hidden
  overflow-y: auto
  // Scrollable contents if viewport is shorter than content.

@supports (position: -webkit-sticky) or (position: sticky)
  .sidebar-sticky
    position: -webkit-sticky
    position: sticky

.sidebar .nav-link
  font-weight: 500
  // color: #333
  .feather
    margin-right: 4px
    color: #999
  &.active
    color: $primary
  &:hover .feather, &.active .feather
    color: inherit
a
  &.nav-link
    color #fff

.sidebar-heading
  font-size: .75rem
  text-transform: uppercase

.role
  padding-top: 213px
  // Space for fixed navbar

@media (min-width: 768px)
  .role
    padding-top: 88px
    // Space for fixed navbar

.btn-primary, .primary
  background-color $primary
  border none
.btn-secondary .secondary
  background-color $secondary
  border none
.typeform-share
  border-color $ss
  color $ss
.btn-primary, .btn-outline-secondary
  &:hover
    background-color $ss
    color $negro !important

.movie-item
  cursor: pointer
  &:hover
    .poster
      .poster__img
        transform scale(0.99);
        transition .3s
        filter: grayscale(0) !important;
.poster
  &.card
    border none
    position: relative;
    // background-color red
    background-color transparent
  .poster__grad
    background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    width 100%
    height 100%
    position absolute
    z-index -98
  .poster__img
    transition .3s
    z-index -99
    height 400px
    background-size cover
    border-radius 5px
  .poster__info
    position absolute
    bottom 0
  .poster__footer
    // img
    //   width 90%
  .status
    position absolute
    text-transform uppercase
    text-align center
    color $negro
    font-weight bolder
    letter-spacing 0.1em
    .primary
      border-radius 5px
      letter-spacing: 0.1px;
      font-size: 1.3rem;
    .clock
      .hours, .minutes, .days
        display inline
      * div
        margin-right 2px
#lity-modal
  border-radius: 6px
#cover
    border-radius: 6px
    height: calc(100% - 0px);
    position: absolute;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    max-width: 100%;
    img
      filter: grayscale(0)
  // .backdrop
  //   background-color: red
  //   // img
  //   //   width 100%
#display
  border-radius: 6px
  overflow: auto;
  background: rgba(22, 22, 22, 0.7);
  padding: 20px;
  width: 600px;
  max-width: 100%;
  height: calc(100% - 0px);
  border-radius: 6px;
  max-height: 766px;
// background:#2E2E2E;
//   transition: 0.2s ease-in-out
//   -moz-transition: 0.2s ease-in-out
//   -webkit-transition: 0.2s ease-in-out
//   border-radius: 50px 50px 0px 0px;
//   box-shadow: 0px -5px 33px 2px rgba(0,0,0,0.75);
//   img
//     // display: block;
//     // width: 300px;
//     // height: 450px;
//     // box-shadow: 0 0 4px rgba(0,0,0,0.2);
//     // border-radius: 4px;
  .media-body
    .title
      font-size: 1.4rem;
      color: #FFFFFF;
      letter-spacing: 1.9px;
      text-align: center;
      line-height: 35px;
    .tagline
      font-size: 0.9rem;
      color: #FFFFFF;
      text-align: center;
    .overview
      font-size: 1rem;
      line-height: 1.4rem;
      color: #FFFFFF;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;     /* fallback */
      max-height: 80px;      /* fallback */
      -webkit-line-clamp: 5; /* number of lines to show */
      -webkit-box-orient: vertical;
    .info
      font-size: 14px;
      color: #EF544F;
      // text-align: center;
      span
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
.tmdb
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem!important;
.invert
  filter: invert(1);

@media (max-width: 768px)
  .role
    padding-top: 175px !important
  #search
    display none
  .modals
    .media
      display block
      .mr-3
        img
          height 100px!important;
          width auto !important;
      iframe
        display: none;
  .poster
    .status
      .primary
        padding: 0.5rem;
    .poster__info
      .poster__title
        font-size: 1.9rem
      .poster__text
        font-size: 1.3rem
    .poster__img
      height 30rem
  .sidebar-sticky
        padding-top: 3rem
  .tmdb
    margin-bottom: 1rem!important
@media (min-width: 767px)
  #menu-toggle
    display none
