body {
  overflow-x: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -55rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background: #f00;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
body {
  font-family: 'Anonymous Pro', monospace;
  background-color: #181818;
  color: #fff;
}
body h1,
body h2,
body h3,
body h4,
body .h4 {
  font-family: 'Poppins', sans-serif;
}
body.modal-active {
  position: fixed;
  overflow: hidden;
}
a {
  color: #ef544f;
}
.bg-dark {
  background-color: #181818 !important;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
#mobile {
  display: none;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 78px 0 0;
  -webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,0.1);
  box-shadow: inset -1px 0 0 rgba(0,0,0,0.1);
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.sidebar .nav-link {
  font-weight: 500;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
.sidebar .nav-link.active {
  color: #ef544f;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
a.nav-link {
  color: #fff;
}
.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.role {
  padding-top: 213px;
}
@media (min-width: 768px) {
  .role {
    padding-top: 88px;
  }
}
.btn-primary,
.primary {
  background-color: #ef544f;
  border: none;
}
.btn-outline-primary {
  color: #fff;
  border-color: #ef544f;
}
.btn-secondary .secondary {
  background-color: #393335;
  border: none;
}
.typeform-share {
  border-color: #4fef64;
  color: #4fef64;
}
.btn-primary:hover,
.btn-outline-secondary:hover {
  background-color: #4fef64;
  color: #181818 !important;
}
.movie-item {
  cursor: pointer;
}
.movie-item:hover .poster .poster__img {
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
}
.poster.card {
  border: none;
  position: relative;
  background-color: transparent;
}
.poster .poster__grad {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.9)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -98;
}
.poster .poster__img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -99;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.poster .poster__info {
  position: absolute;
  bottom: 0;
}
.poster .status {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  color: #181818;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.poster .status .primary {
  border-radius: 5px;
  letter-spacing: 0.1px;
  font-size: 1.3rem;
}
.poster .status .clock .hours,
.poster .status .clock .minutes,
.poster .status .clock .days {
  display: inline;
}
.poster .status .clock * div {
  margin-right: 2px;
}
#lity-modal {
  border-radius: 6px;
}
#cover {
  border-radius: 6px;
  height: calc(100% - 0px);
  position: absolute;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  max-width: 100%;
}
#cover img {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}
#display {
  border-radius: 6px;
  overflow: auto;
  background: rgba(22,22,22,0.7);
  padding: 20px;
  width: 600px;
  max-width: 100%;
  height: calc(100% - 0px);
  border-radius: 6px;
  max-height: 766px;
}
.media-body .title {
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: 1.9px;
  text-align: center;
  line-height: 35px;
}
.media-body .tagline {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
}
.media-body .overview {
  font-size: 1rem;
  line-height: 1.4rem;
  color: #fff;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 80px; /* fallback */
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.media-body .info {
  font-size: 14px;
  color: #ef544f;
}
.media-body .info span {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.tmdb {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem !important;
}
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}
@media (max-width: 768px) {
  .role {
    padding-top: 155px !important;
  }
  #search {
    display: none;
  }
  .modals .media {
    display: block;
  }
  .modals .media .mr-3 img {
    height: 100px !important;
    width: auto !important;
  }
  .modals .media iframe {
    display: none;
  }
  #mobile {
    display: block;
  }
  .poster .status .primary {
    padding: 0.5rem;
    background-color: #181818;
    color: #fff;
  }
  .poster .poster__info .poster__title {
    font-size: 1.9rem;
    margin-bottom: 0.3rem;
  }
  .poster .poster__info .poster__text {
    font-size: 1.1rem;
  }
  .poster .poster__img {
    -webkit-filter: grayscale(0) !important;
    filter: grayscale(0) !important;
    height: 25rem;
  }
  .sidebar-sticky {
    padding-top: 3rem;
  }
  .tmdb {
    margin-bottom: 1rem !important;
  }
}
@media (min-width: 767px) {
  #menu-toggle {
    display: none;
  }
}
