
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-3 p-sm-1 shadow"><a class="navbar-brand mr-0 mr-md-2" href="{{site.baseulr}}"><img src="{{site.baseulr}}/moviedate/assets/img/moviedate.svg" width="198" height="35" alt=""/></a>
  <div class="col-12 col-md-3 col-xl-4 bd-sidebar my-3">
    <form class="search bd-search d-flex align-items-center">
      <input class="form-control mr-sm-2" id="query" type="text" placeholder="Search" required="" aria-label="Search"/>
      <button class="btn btn-outline-secondary my-2 ml-2 my-sm-0" id="search"><i class="fas fa-search"></i></button>
      <button class="btn btn-primary ml-2" id="menu-toggle"><i class="fas fa-bars"></i></button>
    </form>
  </div>
</nav>