nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-3.shadow
	a.navbar-brand(href='#')
		img(src='{{site.baseulr}}/moviedate/assets/img/moviedate.svg' width='198' height='35' alt='')
	//- .buttons
	//- 	#one.button.btn.btn-primary Revealing
	.search.form-inline
		input#query.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
		button#search.btn.btn-success.my-2.my-sm-0 Search