
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-3 shadow"><a class="navbar-brand" href="#"><img src="{{site.baseulr}}/moviedateº/assets/img/moviedate.svg" width="198" height="35" alt=""/></a>
  <div class="search form-inline">
    <input class="form-control mr-sm-2" id="query" type="text" placeholder="Search" required="" aria-label="Search"/>
    <button class="btn btn-outline-secondary my-2 my-sm-0" id="search"><i class="fas fa-search"></i></button><a class="typeform-share btn btn-outline-secondary my-2 my-sm-0 ml-2" href="https://arielcerda.typeform.com/to/r5W3dV" data-mode="drawer_right" data-submit-close-delay="5" target="_blank">Cu&eacute;ntame m&aacute;s </a>
  </div>
</nav>