<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title {{ site.title }}
	link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous')
	link(rel='stylesheet' href='{{site.baseulr}}/assets/css/sass/dashboard.css')
	link(rel='stylesheet' href='{{site.baseulr}}/assets/css/modal.css')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='{{site.baseulr}}/assets/js/modal.js')
	script(src='{{site.baseulr}}/assets/js/custom.js')
	link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
	link(href='https://fonts.googleapis.com/css?family=Anonymous+Pro|Poppins' rel='stylesheet')
body(onload='upcoming()')
	#modal-container
		.modal-background
			.col-sm-6.col-xs-12.modals#display
				svg.modal-svg(xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' preserveaspectratio='none')
					rect(x='0' y='0' fill='none' width='226' height='162' rx='3' ry='3')

	.container
		| {% include nav.html %}
	.container-fluid
		.row.content
			| {% include sidebar.html %}
			main.col-md-9.ml-sm-auto.col-lg-10.px-4.role
				// Movie Options
				.container
					//- #display.row
					#info.row

