section#display.images.inner
	.poster
		.image_content
			img.backdrop(data-sizes='auto' data-src='https://image.tmdb.org/t/p/w500_and_h282_face/6IZ84KFhNpy6htsJmwFVuK30pyp.jpg' data-srcset='https://image.tmdb.org/t/p/w500_and_h282_face/6IZ84KFhNpy6htsJmwFVuK30pyp.jpg 1x, https://image.tmdb.org/t/p/w1000_and_h563_face/6IZ84KFhNpy6htsJmwFVuK30pyp.jpg 2x' alt='Captive State' sizes='375px' srcset='https://image.tmdb.org/t/p/w500_and_h282_face/6IZ84KFhNpy6htsJmwFVuK30pyp.jpg 1x, https://image.tmdb.org/t/p/w1000_and_h563_face/6IZ84KFhNpy6htsJmwFVuK30pyp.jpg 2x' src='https://image.tmdb.org/t/p/w500_and_h282_face/6IZ84KFhNpy6htsJmwFVuK30pyp.jpg')
			.poster(href='https://image.tmdb.org/t/p/w116_and_h174_face/wB24P3QGGoAkEyBzTEb5s4lFY7N.jpg' data-srcset='https://image.tmdb.org/t/p/w116_and_h174_face/wB24P3QGGoAkEyBzTEb5s4lFY7N.jpg 1x, https://image.tmdb.org/t/p/w220_and_h330_face/wB24P3QGGoAkEyBzTEb5s4lFY7N.jpg 2x' data-sizes='auto' style='cursor: default;')
				img(srcset='https://image.tmdb.org/t/p/w116_and_h174_face/wB24P3QGGoAkEyBzTEb5s4lFY7N.jpg 1x, https://image.tmdb.org/t/p/w220_and_h330_face/wB24P3QGGoAkEyBzTEb5s4lFY7N.jpg 2x' sizes='auto' src='https://image.tmdb.org/t/p/w116_and_h174_face/wB24P3QGGoAkEyBzTEb5s4lFY7N.jpg' alt='Captive State')
	.header_poster_wrapper
		section.header.poster
			.title(dir='auto')
				.mobile_header.large
					.content
						a(href='/movie/429471-captive-state')
							h2.trece
								| Captive State 
								span.release_date (2019)
				.second_header.movie.true
					.score
						.consensus
							.outer_ring
								.user_score_chart(data-percent='0.0' data-track-color='#666666' data-bar-color='#d4d4d4')
									.percent
										span.icon.icon-rNR
									canvas(height='135' width='135' style='height: 45px; width: 45px;')
							.text User Score
					.pipe
					.trailer
						a.no_click.play_trailer(href='#' data-id='uwZEdpe3N9g' data-title='Play Trailer')
							span.glyphicons.glyphicons-play
							|  Play Trailer
			ul.auto.actions
				li.tooltip.use_tooltip.list.tooltip_hover(title='Add to list' data-role='tooltip')
					a.no_click(href='#')
						span.glyphicons.glyphicons-list.x1
				li.tooltip.use_tooltip(title='Mark as Favorite')
					a#favourite.no_click.add_to_account_list.favourite.false(href='#')
						span.glyphicons.glyphicons-heart.x1
				li.tooltip.use_tooltip(title='Add to your watchlist')
					a#watchlist.no_click.add_to_account_list.watchlist.false(href='#')
						span.glyphicons.glyphicons-bookmark.x1
			.header_info
				h3(dir='auto') Overview
				.overview(dir='auto')
					p
						| Nearly a decade after occupation by an extraterrestrial force, the lives of a Chicago neighborhood on both sides of the conflict are explored.
				h3.featured(dir='auto') Featured Crew
				ol.people.no_image
					li.profile
						p
							a(href='/person/77357-rupert-wyatt') Rupert Wyatt
						p.character Director, Screenplay
					li.profile
						p
							a(href='/person/1420608-erica-beeney') Erica Beeney
						p.character Screenplay
