nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-3.p-sm-1.shadow
	a.navbar-brand.ml-3.mr-md-2(href='http://moviedate.arielcerda.com/')
		img(src='/assets/img/moviedates.svg' width='198' height='35' alt='')
	button#menu-toggle.btn.btn-primary.mr-2
		i.fas.fa-bars
	.col-12.col-md-3.col-xl-4.bd-sidebar.mt-3.mb-1
			.search.bd-search.d-flex.align-items-center
				input#query.form-control.mr-sm-2(type='text' placeholder='Search' required='' aria-label='Search')
				button#search.btn.btn-outline-secondary.my-2.ml-2.my-sm-0
					i.fas.fa-search
