nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-3.p-sm-1.shadow
	a.navbar-brand.mr-0.mr-md-2(href='#')
		img(src='/moviedate/assets/img/moviedate.svg' width='198' height='35' alt='')
	.col-12.col-md-3.col-xl-4.bd-sidebar.my-3
		
			form.search.bd-search.d-flex.align-items-center
				input#query.form-control.mr-sm-2(type='text' placeholder='Search' required='' aria-label='Search')
				button#search.btn.btn-outline-secondary.my-2.ml-2.my-sm-0
					i.fas.fa-search
				button#menu-toggle.btn.btn-primary.ml-2
					i.fas.fa-bars
