
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">
      <div class="poster card text-white d-flex"><span class="w-100 status">
          <div class="m-2 primary">{{ page.status }}</div></span>
        <div class="poster__grad"></div>
        <div class="poster__img"><img class="card-img" src="https://image.tmdb.org/t/p/w1280/s7hV8HFh7w2EZ4GK5EiltRVvWJA.jpg" alt=""/></div>
        <div class="poster__info align-self-end w-100 p-2">
          <h3 class="h4 poster__title card-title">{{ page.title }}</h3>
          <p class="poster__text m-0">{{ page.date }}</p>
        </div>
      </div>
      <div class="poster__footer row mt-2">
        <div class="col-3"><a class="btn btn-secondary"><i class="fas fa-ticket-alt"></i></a></div>
        <div class="col-9"><a class="btn btn-primary w-100">Ver Trailer</a></div>
      </div>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
  </div>
</div>